{% extends '::base.html.twig' %}

{% block container %}
<div class="jumbotron area">
    <h1>Welcome!</h1>
    <p class="jumbotron-text">
        We would like to introduce a new line of <strong> AGEMA Super Doublet series </strong> apochromatic refraсtors: <strong>130, 150 </strong> and <strong>180 mm </strong>
        diameter. The design is based on two lenses with a wide air gap and <strong> “flit in front” </strong> configuration. The first lens made from high quality,
        fine annialed optical glass. The second lens made from a Fluorite single block crystal. All the elements have anti-reflection coating.
        Our lenses have the high level of color correction; in visual <strong> 430 &mdash; 706nm </strong> range, they give a diffraction quality image. Polychromatic
        Strehl number exceeds <strong> 90% </strong> of the specified range. The color correction for wave aberrations is <strong> 2.5 &mdash; 3.5 </strong> times better than the
        criterion Abbe in use for <strong> apochromatic lens </strong>. We are taking into the account all the changing glass melt to melt factors to save the high rated quality image.
        Our <strong> SD-series apochromatic refractors deliver </strong> the pinpoint sharpness, clarity and high definition star images. Visually on the Moon and planet there
        is no color halo even at the highest powers. All the instruments include our high quality two-speed ridged focuser with collet lock and drum-type pinion
        shaft brake,  special cell with fine lens adjustment, aluminum tube equipped with knife-type diaphragms,  machined from solid tube rings and dovetail plate,
        and <strong> 40 mm </strong> format field corrector that gives diffraction quality image.
    </p>
    <p><a class="btn btn-success btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <strong>Agema Super Doublet series apochromatic refraсtors</strong>
    </div>
    <div class="thumbnails-wrapper">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/panchagema/images/products/demo.png') }}" alt="Description">
                    <div class="caption">
                        <h3>Thumbnail label</h3><hr>
                        <p>Short thumbnail description...</p>
                        <a href="#" class="btn btn-primary" role="button">Specification</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/panchagema/images/products/demo.png') }}" alt="Description">
                    <div class="caption">
                        <h3>Thumbnail label</h3><hr>
                        <p>Short thumbnail description...</p>
                        <a href="#" class="btn btn-primary" role="button">Specification</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/panchagema/images/products/demo.png') }}" alt="Description">
                    <div class="caption">
                        <h3>Thumbnail label</h3><hr>
                        <p>Short thumbnail description...</p>
                        <a href="#" class="btn btn-primary" role="button">Specification</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/panchagema/images/products/demo.png') }}" alt="Description">
                    <div class="caption">
                        <h3>Thumbnail label</h3><hr>
                        <p>Short thumbnail description...</p>
                        <a href="#" class="btn btn-primary" role="button">Specification</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/panchagema/images/products/demo.png') }}" alt="Description">
                    <div class="caption">
                        <h3>Thumbnail label</h3><hr>
                        <p>Short thumbnail description...</p>
                        <a href="#" class="btn btn-primary" role="button">Specification</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/panchagema/images/products/demo.png') }}" alt="Description">
                    <div class="caption">
                        <h3>Thumbnail label</h3><hr>
                        <p>Short thumbnail description...</p>
                        <a href="#" class="btn btn-primary" role="button">Specification</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}