<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Default Page Title Homepage{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/panchagema/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/panchagema/css/default.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/panchagema/js/jquery-1.11.1.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/panchagema/js/bootstrap.min.js') }}" type="text/javascript"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block nav %}
        <nav id="menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" data-toggle="tooltip" data-placement="bottom" title="Agema optics &mdash; deep space in your eyes" href="{{ path('panch_agema_agema_index_index') }}" title="Agema optics &mdash; deep space in your eyes"></a>
                <button type="button" class="navbar-toggle" title="Show menu" data-toggle="collapse" data-target="#collapsed-nav-menu" onclick="toggleBtnControlPanel()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_security_logout') }}">
                        <button type="button" class="btn btn-primary navbar-toggle navbar-btn" title="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}">
                            <span class="glyphicon glyphicon-log-in"></span>
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">
                        <button type="button" class="btn btn-primary navbar-toggle navbar-btn" title="{{ 'layout.login'|trans({}, 'FOSUserBundle') }}">
                            <span class="glyphicon glyphicon-log-in"></span>
                        </button>
                    </a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="collapsed-nav-menu">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="{{ path('panch_agema_agema_index_index') }}">Homepage</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Telescopes
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#cd age">Refractors</a></li>
                            <li><a href="#">Reflectors</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="{{ path('panch_agema_agema_index_index') }}">Accessories</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="{{ path('panch_agema_agema_index_index') }}">Where to buy</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="{{ path('panch_agema_agema_index_index') }}">About</a>
                    </li>
                </ul>
                <div class="sign-in" style="font-size: 10px; color: #4d4d4d">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                        <a href="{{ path('fos_user_security_logout') }}">
                            <button id="btn-control-panel" title="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}" name="btn-control-panel" type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#loginDialog">
                                <span class="glyphicon glyphicon-log-in"></span>
                            </button>
                        </a><br>
                        {% for role in user_roles %}
                            {% if role == 'ROLE_SUPER_ADMIN' %}
                                <span style="color: darkgreen; font-weight: bold; font-size: 10px;">{{ role }}</span>
                            {% else %}
                                <span style="color: #0000bb; font-weight: bold; font-size: 10px;">{{ role }}</span>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <strong style="color: red;">NOT_AUTHORIZE_USER</strong>
                        <a href="{{ path('fos_user_security_login') }}">
                            <button id="btn-control-panel" title="{{ 'layout.login'|trans({}, 'FOSUserBundle') }}" name="btn-control-panel" type="button" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#loginDialog">
                                <span class="glyphicon glyphicon-log-in"></span>
                            </button>
                        </a>
                    {% endif %}
                </div>
                <script>
                    function toggleBtnControlPanel() {
                        $('#btn-control-panel').toggle('fast');
                    }
                    
                        // tooltip demo
                            $('.navbar-header').tooltip({
                                selector: "[data-toggle=tooltip]",
                                container: "body"
                            })

                        // popover demo
                            $("[data-toggle=popover]")
                                .popover()
                </script>
            </div>
        </nav>
    {% endblock nav %}
    <div id="site-content">
        {% block container %}{% endblock container%}
        <div id="footer">
            <h2 id="copyright">
                Agema Optics Inc.<br>
                12100 West 52nd Ave. Unit 124 Wheat Ridge, CO 80033.<br><br>
                &copy 2014 &mdash; 2015 IT-PERSONA Lab.<br><br>
            </h2>
        </div>
    </div>
</body>
</html>
