{% extends '@PanchAgema/FOSUserBundle/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="loginDialogLabel">Authentication</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="login-inputs-wrapper">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="form-group">
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Login" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group col-sm-12">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                                <input class="form-control" type="password" id="password" name="_password" placeholder="" required="required" />
                                <span class="glyphicon glyphicon-ok form-control-feedback hidden"></span>
                            </div>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11 modal-btn-group">
                            <button type="submit" class="btn btn-success">Login</button>
                            <a href="{{ path('panch_agema_agema_index_index') }}">
                                <button type="button" class="btn btn-default">Cancel</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body%}