{% extends '@PanchAgema/base.html.twig' %}

{% block body %}
    {% block container %}
        <div class="thumbnails-wrapper">
            <div class="row">
                {% if products is not empty %}
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="thumbnail-wrapper">
                                    {% if product.thumbnail is null %}
                                        <img src="{{ asset('bundles/panchagema/images/interface/no_image_available.png') }}" />
                                    {% else %}
                                        <img src="{{ asset(product.thumbnail.path) }}" class="product-thumbnail" alt="Description test" />
                                    {% endif %}
                                </div>
                                <div class="caption">
                                    <h3>{{ product.title }}</h3><hr>
                                    <p class="product-description">{{ product.shortDescription|humanize}}</p><hr><br>
                                    <a href="{{ path('panch_agema_agema_product_show', {'slug': product.slug}) }}" class="btn btn-primary" role="button">Specification</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endblock container %}
By{% endblock body %}
