{% extends '@PanchAgema/base.html.twig' %}

{% block body %}
    {% block container %}
            <h3 class="page-header">{{ product.title }}</h3>
                <div class="row">
                    <div class="col-md-5">
                        <div class="img-thumbnail">
                            <img src="{{ product.thumbnail.path }}" {{ product.thumbnail.height > 150 ? 'height="150"':''}} alt="{{ product.title }}" alt="{{ product.title }}">
                        </div>
                        <br><br>
                        <h4> <strong>Technical Specifications:</strong> </h4>
                        <dl class="dl-horizontal">
                            <dt>Description:</dt>
                            <dd>{{ product.shortDescription}}</dd>

                            <dt>Color corection:</dt>
                            <dd>{{ product.colorCorrection }}</dd>

                            <dt>Clear aperture:</dt>
                            <dd>{{ product.clearAperture }}</dd>

                            <dt>Focal length:</dt>
                            <dd>{{ product.focalLength }}</dd>

                            <dt>Resolution:</dt>
                            <dd>{{ product.resolution }}</dd>

                            <dt>Magnification range:</dt>
                            <dd>{{ product.magnificationRange }}</dd>

                            <dt>Limit visual magnitude:</dt>
                            <dd>{{ product.limitVisualMagnitude }}</dd>

                            <dt>Tube:</dt>
                            <dd>{{ product.tube }}</dd>

                            <dt>Focuser:</dt>
                            <dd>{{ product.focuser }}</dd>

                            <dt>Field corrector:</dt>
                            <dd>{{ product.fieldCorrector }}</dd>

                            <dt>Category:</dt>
                            <dd>{{ product.category }}</dd>
                        </dl>
                        <h4> <strong>Accessories:</strong> </h4>
                        <div class="row">
                            <div class="col-sm-12 left">
                                <div class="img-thumbnail">
                                    <img src="{{ product.thumbnail.path }}" {{ product.thumbnail.height > 50 ? 'height="50"':''}} alt="{{ product.title }}" alt="{{ product.title }}">
                                </div>
                                <div class="img-thumbnail">
                                    <img src="{{ product.thumbnail.path }}" {{ product.thumbnail.height > 50 ? 'height="50"':''}} alt="{{ product.title }}" alt="{{ product.title }}">
                                </div>
                                <div class="img-thumbnail">
                                    <img src="{{ product.thumbnail.path }}" {{ product.thumbnail.height > 50 ? 'height="50"':''}} alt="{{ product.title }}" alt="{{ product.title }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <p>Second column content...</p>
                    </div>

                </div>
            {#</div>#}
        {#</div>#}
    {% endblock container %}
{% endblock body %}